pre {
  counter-reset: line;
  background-color: var(--surface2);
  padding: 1rem;
  margin-inline: -2rem;
  line-height: 1.2;
}

pre > code > span::before {
  counter-increment: line;
  content: counter(line);
  color: var(--text3);
  position: absolute;
  left: 0;
  line-height: 1.4;
}

pre > code > span {
  padding-inline-start: 3ch;
  color: var(--text1-blue);
  position: relative;
}

code {
  background-color: var(--surface2);
  color: var(--text1);
  color: var(--text1-blue);
  font-size: 0.875rem;
}

/* KeyWordTok */
.sourceCode .kw {
  color: var(--text2-blue);
}

/* DataTypeTok */
.sourceCode .dt {
  color: var(--text1-orange);
}

/* DecValTok (decimal value), BaseNTok, FloatTok */
.sourceCode .dv,
.sourceCode .bn,
.sourceCode .fl {
  color: var(--text1-blue);
}
/* CharTok */
.sourceCode .ch {
  color: var(--text2-green);
}
/* StringTok */
.sourceCode .st {
  color: var(--text1-green);
}
/* CommentTok */
.sourceCode .co {
  font-style: italic;
  color: var(--text3);
}
/* OtherTok */
.sourceCode .ot {
  color: var(--text1-red);
}
/* AlertTok */
.sourceCode .al {
  font-weight: bold;
  color: var(--text1-green);
}
/* FunctionTok */
.sourceCode .fu {
  color: var(--text2-red);
}
/* RegionMarkerTok */
.sourceCode .re {
  color: var(--text2-green);
}
/* ErrorTok */
.sourceCode .er {
  font-weight: bold;
  color: var(--text1-red);
}
.sourceCode .op {
  color: var(--text1-purple);
}
