pre {
  counter-reset: line;
  padding: 1rem;
  /* TODON'T */
  /* margin-inline: -2rem; */
  line-height: 1.2;
  outline: 1px solid var(--text-4);
  border-radius: var(--border-size-3);
}

pre > code {
  background-color: transparent;
  padding-inline: 0;
  padding-block: 0;
}

pre > code > span::before {
  counter-increment: line;
  content: counter(line);
  color: var(--text-4);
  position: absolute;
  left: 0;
  line-height: 1.4;
}

pre > code > span {
  padding-inline-start: 2rem;
  color: var(--text-1);
  position: relative;
}

code {
  background-color: var(--surface-blush);
  color: var(--text-1);
  font-size: 0.91rem;
  padding-inline: 0.2em;
  padding-block: 0.1em;
  border-radius: var(--border-size-3);
}

/* KeyWordTok */
.sourceCode .kw {
  color: var(--blue-4);
}

/* DataTypeTok */
.sourceCode .dt {
  color: var(--orange-5);
}

/* DecValTok (decimal value), BaseNTok, FloatTok */
.sourceCode .dv,
.sourceCode .bn,
.sourceCode .fl {
  color: var(--blue-3);
}
/* CharTok */
.sourceCode .ch {
  color: var(--green-5);
}
/* StringTok */
.sourceCode .st {
  color: var(--green-5);
}
/* CommentTok */
.sourceCode .co {
  font-style: italic;
  color: var(--text-4);
}
/* OtherTok */
.sourceCode .ot {
  color: var(--red-3);
}
/* AlertTok */
.sourceCode .al {
  font-weight: bold;
  color: var(--green-5);
}
/* FunctionTok */
.sourceCode .fu {
  color: var(--red-5);
}
/* RegionMarkerTok */
.sourceCode .re {
  color: var(--green-5);
}
/* ErrorTok */
.sourceCode .er {
  font-weight: bold;
  color: var(--red-4);
}
.sourceCode .op {
  color: var(--purple-3);
}
