@import "https://unpkg.com/open-props";

:root {
  --red-hue: 345;
  --purple-hue: 275;
  --blue-hue: 215;
  --green-hue: 135;
  --yellow-hue: 50;
  --orange-hue: 15;
}

html {
  /* primary foundation */
  --primary-hue: 240;
  --primary-saturation: 60%;
  --primary-lightness: 50%;
  --text-saturation: 9%;

  /* light */
  --primary-light: hsl(
    var(--primary-hue) var(--primary-saturation) var(--primary-lightness)
  );
  --text-1-light: hsl(var(--primary-hue) var(--text-saturation) 10%);
  --text-2-light: hsl(var(--primary-hue) var(--text-saturation) 30%);
  --text-3-light: hsl(var(--primary-hue) var(--text-saturation) 60%);
  --surface-1-light: hsl(var(--primary-hue) 25% 99%);
  --surface-2-light: hsl(var(--primary-hue) 20% 96%);
  --surface-blush-light: hsl(328 66% 95%);

  /* dark */
  --primary-dark: hsl(
    var(--primary-hue) calc(var(--primary-saturation) / 2)
      calc(var(--primary-lightness) / 1.5)
  );
  --text-1-dark: hsl(var(--primary-hue) var(--text-saturation) 85%);
  --text-2-dark: hsl(var(--primary-hue) var(--text-saturation) 65%);
  --text-3-dark: hsl(var(--primary-hue) var(--text-saturation) 45%);
  --surface-1-dark: hsl(var(--primary-hue) 20% 5%);
  --surface-2-dark: hsl(var(--primary-hue) 15% 10%);
  --surface-blush-dark: hsl(328 65% 24%);
}

:root {
  color-scheme: light;
  font-size: 17px;

  /* set defaults */
  --primary: var(--primary-light);
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);
  --text-4: var(--text-3-light);
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-blush: var(--surface-blush-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --primary: var(--primary-dark);
    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);
    --text-4: var(--text-3-dark);
    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-blush: var(--surface-blush-dark);
  }
}

[color-scheme="light"] {
  color-scheme: light;

  --primary: var(--primary-light);
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);
  --text-4: var(--text-3-light);
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-blush: var(--surface-blush-light);
}

[color-scheme="dark"] {
  color-scheme: dark;

  --primary: var(--primary-dark);
  --text-1: var(--text-1-dark);
  --text-2: var(--text-2-dark);
  --text-4: var(--text-3-dark);
  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --surface-blush: var(--surface-blush-dark);
}

a {
  color: var(--text-1);
  text-decoration-color: var(--text-3);
  text-decoration-thickness: 2px;
}
a:hover,
a:focus {
  /* Hover should always increase contrast */
  text-decoration-color: var(--text-1);
}
