<!DOCTYPE html>
<html lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8" />
    <meta name="description" content="{{siteTitle}}" />
    <meta name="author" content="{{siteAuthor}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{siteTitle}}</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚧</text></svg>"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <!-- {{>site/templates/header.html}} -->

    <section class="table-of-contents">
      <div>
        <header class="title">
          <h1>🚧 WIP</h1>
        </header>
        <p>
          I’m Pete <span class="wave">👋</span>, a software engineer working
          mostly on the frontend with React and TypeScript. I like typed
          functional programming, visualizing data, and learning about web
          standards.
        </p>
        <p>
          This is a blog I’m building using Chris Penner's
          <a href="https://github.com/ChrisPenner/slick">slick</a> static site
          generator, which lets me write parsers in Haskell to extend Markdown
          syntax in some fun ways, like enabling a
          <a
            href="https://github.com/ptrfrncsmrph/ptrfrncsmrph.github.io/blob/main/app/Multicodeblock.hs"
            >tabbed multilingual codeblock</a
          >
          (the idea was stolen from
          <a href="https://www.bkase.io/">Brandon Kase</a>). There’s a mix of
          more-polished things alongside notes-to-self scrawlings. I hope to
          disambiguate among them in the future using something like a
          <a href="https://maggieappleton.com/garden">digital garden</a>.
        </p>
        <header>
          <h2>All Posts</h2>
        </header>
        {{>site/templates/post-list.html}}
      </div>
    </section>

    <!-- {{>site/templates/footer.html}} -->
  </body>
</html>
