<!DOCTYPE html>
<html lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8" />
    <meta name="description" content="{{siteTitle}}" />
    <meta name="author" content="{{author}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{>site/templates/meta-data.html}}
    <title>{{title}} | {{siteTitle}}</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    {{>site/templates/header.html}}

    <main>
      <header>
        <section class="post">
          {{#image}}
          <img class="post-image" src="/images/{{image}}" />
          {{/image}}

          <h1>{{displayTitle}}</h1>

          <div class="inline-container">
            {{>site/templates/icons/calendar.html}}
            <time datetime="{{isoDate}}">{{date}}</time>
          </div>
          <div class="tags-container inline-container">
            {{>site/templates/icons/tag.html}}
            <ul class="tags">
              {{#tags}}
              <li class="tag {{.}}">{{.}}</li>
              {{/tags}}
            </ul>
          </div>
        </section>
      </header>

      <article class="post">{{{content}}}</article>
    </main>

    {{>site/templates/footer.html}}

    <script src="/js/multicodeblock-tabs.js"></script>
    <script src="/js/image-loader.js"></script>
  </body>
</html>
