<!DOCTYPE html>
<html lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8" />
    <meta name="description" content="{{siteTitle}}" />
    <meta name="author" content="{{author}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{>site/templates/meta-data.html}}
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚧</text></svg>"
    />
    <title>{{title}} | {{siteTitle}}</title>
    <link rel="stylesheet" href="/css/main.css" />
    {{>site/templates/analytics.html}}
  </head>
  <body>
    {{>site/templates/header.html}}

    <main>
      <header class="title">
        <div class="post">
          {{#image}}
          <img class="post-image" src="/images/{{image}}" />
          {{/image}}

          <h1>{{displayTitle}}</h1>

          <div class="subheader">
            <div class="inline-container">
              {{>site/templates/icons/calendar.html}}
              <time datetime="{{isoDate}}">{{date}}</time>
            </div>
            <div class="tags-container inline-container">
              {{>site/templates/icons/tag.html}}
              <ul class="tags">
                {{#tags}}
                <li class="tag {{.}}">{{.}}</li>
                {{/tags}}
              </ul>
            </div>
          </div>
        </div>
      </header>

      <article class="post">{{{content}}}</article>
    </main>

    {{>site/templates/footer.html}}

    <script src="/js/multicodeblock-tabs.js"></script>
    <script src="/js/image-loader.js"></script>
  </body>
</html>
