<!DOCTYPE html>
<html lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8" />
    <meta name="description" content="{{siteTitle}}" />
    <meta name="author" content="{{author}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{>site/templates/meta-data.html}}
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/main.css" />
    <style></style>
  </head>
  <body>
    {{>site/templates/header.html}}

    <main>
      <div class="wrapper">
        <div class="masthead">
          <h1 class="title">{{title}}</h1>
          <br />

          {{#image}}
          <img class="post-image" src="/images/{{image}}" />
          {{/image}}
          <span class="date">{{date}}</span>
          <div class="metadata"></div>
          <div class="tags">
            {{#tags}}
            <span class="tag {{.}}">{{.}}</span>
            {{/tags}}
          </div>
        </div>
      </div>
      <article class="post">
        {{{content}}}

        <div class="social-buttons">
          <!--Share buttons-->
        </div>
      </article>
    </main>

    {{>site/templates/footer.html}}
  </body>
</html>
