<ul class="posts">
  {{#posts}}
  <li>
    <div><a href="{{url}}">{{title}}</a></div>
    <div class="inline-container secondary">
      <ul class="post-meta">
        <li>
          {{>site/templates/icons/calendar.html}}
          <time datetime="{{isoDate}}">{{date}}</time>
        </li>
        <li>
          {{>site/templates/icons/clock.html}}
          <time datetime="PT{{readingTime}}M">{{readingTime}} min</time>
        </li>

        {{#isDraft}}
        <li class="draft">
          {{>site/templates/icons/exclamation.html}}
          <span>Draft</span>
        </li>
        {{/isDraft}}
      </ul>
    </div>
  </li>
  {{/posts}}
</ul>
